.about {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.about__title {
    margin: 0;
    padding: 60px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
}

.about__me {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.about__text {
    width: 700px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.003em;
}

.about__photo {
    width: 400px;
    height: 400px;
    border-radius: 2%;
}

@media screen and (max-width: 1130px) {

    .about {
        max-width: 90%;
        margin: 0 auto;
    }

    .about__photo {
        width: 350px;
        height: 350px;
        border-radius: 2%;
    }

}

@media screen and (max-width: 768px) {

    .about__me {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .about__text {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {

    .about__photo {
        width: 300px;
        height: 300px;
        border-radius: 2%;
    }
}