.header {
    max-width: 100%;
    margin: 0;
    padding: 30px 0px;
    color: white;
    background-color: black;
    box-shadow: 0 15px 20px gray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.header__avatar {
    width: 85px;
    height: 85px;
    background-image: url(../../images/KudinaPhoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 50%;
}

.header__name {
    margin: 0px;
    padding: 0px;
    font-size: 35px;
    line-height: 40px;
}

.header__navigation {
    width: 40%;
}

.header__list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
}

.header__list-item {
    margin: 0;
}

.header__link {
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    transition: 1.5s;
}

.header__link:hover {
    color: black;
    background-color: white;
}

.header__settings {
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    background-image: url(../../images/settings-icon.svg);
    background-color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 2s;
}

.header__settings:hover {
    transform: rotateZ(180deg);
}

.header__list-item_menu {
    display: none;
}

@media screen and (max-width: 1279px) {

    .header__name {
        font-size: 30px;
        line-height: 40px;
    }

    .header__list {
        font-size: 20px;
        line-height: 25px;
    }

}

@media screen and (max-width: 980px) {

    .header__navigation {
        width: 40px;
    }

    .header__list {
        justify-content: flex-end;
    }

    .header__list-item {
        display: none;
    }

    .header__list-item_menu {
        display: block;
    }

    .header__menu {
        width: 45px;
        height: 45px;
        margin: 0;
        padding: 0;
        border: none;
        background-image: url(../../images/menu-icon-light.svg);
        background-color: black;
        background-position: center;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        border-radius: 50%;
        cursor: pointer;
        transition: 1s;
    }

    .header__menu:hover {
        background-image: url(../../images/menu-icon-dark.svg);
        background-color: white;
    }



}

@media screen and (max-width: 768px) {

    .header__profile {
        gap: 5px;
    }
    .header__avatar {
        width: 65px;
        height: 65px;
    }

    .header__name {
        font-size: 24px;
        line-height: 28px;
    }

    .header__menu {
        width: 35px;
        height: 35px;
    }

    .header__settings {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 420px) {

    .header__avatar {
        width: 50px;
        height: 50px;
    }

    .header__name {
        font-size: 18px;
        line-height: 22px;
    }

    .header__menu {
        width: 35px;
        height: 35px;
    }

    .header__settings {
        width: 35px;
        height: 35px;
    }
}