.projects {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.projects__title {
    margin: 0;
    padding: 60px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
}

.projects__list-cards {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 243px);
    gap: 30px;
}

@media screen and (max-width: 1439px) {

    .projects__list-cards {
        grid-template-columns: repeat(5, 225px);
        gap: 20px;
    }

    .projects__card-name {
        font-size: 20px;
        line-height: 100%;
    }
}

@media screen and (max-width: 1279px) {

    .projects__list-cards {
        grid-template-columns: repeat(3, 270px);
        gap: 30px;
    }

}

@media screen and (max-width: 1130px) {

    .projects {
        max-width: 90%;
        margin: 0 auto;
    }

    .projects__list-cards {
        grid-template-columns: repeat(2, 270px);
        gap: 30px;
    }

}

@media screen and (max-width: 768px) {

    .projects__list-cards {
        grid-template-columns: repeat(1, 270px);
        gap: 30px;
    }

}