.footer {
    margin: 0;
    padding: 60px 0 0 0;
    text-align: center;
}

.footer__copyright {
    margin: 0;
    padding: 37px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.003em;
}