.page {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: var(--text-first-color);
    background-color: var(--background-first-color);
    transition: background-color 500ms linear,
    color 700ms linear;
    position: relative;
}

@media screen and (max-width: 1440px) {
    .page {
        max-width: 1440px;
    }
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 480px) {
    .page {
        max-width: 480px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
    }
}